article {
    box-sizing: border-box;
    padding: 10px 40px;
}

article h1 {
    font-family: "helioscond-bold", sans-serif;
    font-size: 48px;
    font-weight: normal;
}

article h2 {
    font-family: "helioscond-bold", sans-serif;
    font-size: 25px;
    font-weight: normal;
}

article h1 > span {
    content: '';
    border: 2px solid #dfdfdf;
    background-color: #ececec;
    border-radius: 25px 25px 6px 25px;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}



article > p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;


    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}