
header {
	box-sizing: border-box;
	padding: 5px;
	position: fixed;
	width: 100%;
	color: #fff;
	display: none;
}

#logo {
	display: inline-block;
	max-width: 385px;
	vertical-align: middle;
}

#logo > a {
	display: inline-block;
	vertical-align: middle;

}

#logo > .logotype {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

#logo .klassika {
	display: block;
	font-family: "HeliosCond-Bold";
	font-size: 10vw;
	line-height: 1;
}

#logo .cpm {
	display: block;
	font-family: "HeliosCond";
	font-size: 5vw;
}

#logo img {
	width: 10vw;
	max-width: 110px;
}

#contacts {
	display: inline-block;
	font-family: "HeliosCond";
	margin-left: 40px;
	vertical-align: middle;
}

#contacts span {
	/*display: block;*/
}



/**********************************************/


#contacts,
#logo > .logotype{
	display: none;
}

header {
	right: 0;
	width: auto;
}