
body {
	font-family: 'trebuchet ms', sans-serif;
	font-size: 100%;
	margin: 0;
	background-color: #30434f;
	position: relative;
}

nav {
	margin: 0 auto;
	max-width: 1000px;
	padding: 30px 10px;
	position: relative;
}

nav > ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

nav > ul > li {
	display: inline-block;
	height: 236px;
	margin-bottom: 20px;
	min-width: 200px;
	position: relative;
	vertical-align: top;
}

nav > ul > li > a {
	color: #ffffff;
	display: block;
	font-family: "helioscond-bold", sans-serif;
	font-size: 46px;
	left: 10px;
	position: absolute;
	text-decoration: none;
	top: 85px;
}

nav > ul > li:before {
	background-color: #ececec;
	border: 1px solid #dfdfdf;
	border-radius: 50% 50% 10%;
	box-shadow: 5px -1px 4px rgba(0, 0, 0, 0.5) inset;
	box-sizing: border-box;
	content: "";
	display: inline-block;
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	transform: rotate(45deg);
	width: 200px;
	z-index: -1;
}

/*************************/

nav a > span {
	display: block;
	font-size: 18px;
	left: 0;
	position: absolute;
	top: -0.8em;
	white-space: nowrap;
}

.adigeiski a {
	font-size: 35px;
}

.adigeiski:before {
	background-color: #dddeb8;
}

.tvorog:before {
	background: linear-gradient(to top,
	#0e814a 0%, #0e814a 25%,
	#15b122 25%, #15b122 50%,
	#15bfa4 50%, #15bfa4 75%,
	#13a0e2 75%, #13a0e2 100%);
}

.smetana:before {
	background: linear-gradient(to top,
	#077d6b 0%, #077d6b 33%,
	#089941 33%, #089941 66%,
	#86c62b 66%, #86c62b 100%);
}

.kefir:before {
	background: linear-gradient(to top,
	#186a9e 0%, #186a9e 50%,
	#589ebf 50%, #589ebf 100%);
}

.sivorotka a {
	font-size: 35px;
}

.sivorotka a > span {
	top: -1.9em;
	line-height: 18px;
}

.sivorotka:before {
	background-color: #d2d41a;
}

.katik:before {
	background-color: #c3466b;
}

.razhenka:before {
	background-color: #c79032;
}