nav {
	height: 100%;
}

nav {
	margin: 0 auto;
	/*max-width: 1000px;*/
	padding: 0;
	width: 100%;
}

nav > ul {
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

nav > ul > li {
	box-sizing: border-box;
	display: inline-block;
	height: 56px;
	margin-bottom: 5px;
	padding-left: 10vw;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

nav > ul > li:last-child {
	margin-bottom: 0;
}

nav > ul > li > a {
	color: #ffffff;
	display: inline-block;
	font-family: "helioscond-bold",sans-serif;
	font-size: 30px;
	text-align: left;
	text-decoration: none;
	vertical-align: 6px;
}

nav > ul > li:before {
	background-color: #ececec;
	border: 1px solid #dfdfdf;
	border-radius: 50% 50% 10%;
	box-shadow: 5px -1px 4px rgba(0, 0, 0, 0.5) inset;
	box-sizing: border-box;
	content: "";
	display: inline-block;
	height: 50px;
	position: relative;
	width: 50px;
	z-index: -1;
}

/*************************/

nav a > span {
	bottom: -7px;
	display: block;
	font-size: 18px;
	position: relative;
	white-space: nowrap;
	color: #9ebbcd;
}

.adigeiski:before {
	background-color: #d2d39f;
}

.tvorog:before {
	background: linear-gradient(to top,
	#0e814a 0%, #0e814a 25%,
	#15b122 25%, #15b122 50%,
	#15bfa4 50%, #15bfa4 75%,
	#13a0e2 75%, #13a0e2 100%);
}

.smetana:before {
	background: linear-gradient(to top,
	#077d6b 0%, #077d6b 33%,
	#089941 33%, #089941 66%,
	#86c62b 66%, #86c62b 100%);
}

.kefir:before {
	background: linear-gradient(to top,
	#186a9e 0%, #186a9e 50%,
	#589ebf 50%, #589ebf 100%);
}

.sivorotka:before {
	background-color: #e5cd00;
}

.katik:before {
	background-color: #c3466b;
}

.razhenka:before {
	background-color: #c79032;
}

.empty {
	display: none;
}

/*************************/

.header {
	background-color: #fff;
	padding-top: 11px;
	height: auto;
	min-height: 85px;
}

.header > .contacts {
	display: none;
}

nav .header > a > span {
	color: #707070;
}

nav > ul > li.header > a {
	color: #000;
	font-size: 30px;
	left: -10px;
	position: relative;
	vertical-align: 16px;
}

nav > ul > li.header:before {
	background: rgba(0, 0, 0, 0) url("/i/logo-klassika.svg") no-repeat scroll 0 center / 70px 70px;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	height: 70px;
	left: -10px;
	position: relative;
	width: 70px;
	z-index: 0;
}