/* 240 320 480 600 768 1024 1200 1680 1920 */

@media all and ( min-width: 600px ) {
  article > p {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media all and ( min-width: 768px ) {
  article > p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media all and ( min-width: 1024px ) {
  article > p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media all and ( min-width: 1200px ) {
  article > p {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
