.temperature {
	height: 100%;
	width: 15px;

	/*background:*/
	/*linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56.9%, #5c5c5c 57%, #5c5c5c 60%, #d6d6d6 94%, #7a7a7a 100%) no-repeat border-box,*/
	/*linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56.9%, #ad0325 57%, #ad0325 60%, #fea5a7 94%, #b33c4e 100%) repeat-y border-box,*/
	/*repeating-linear-gradient(*/
			/*180deg,*/
			/*transparent 0px,*/
			/*transparent 4px,*/
			/*#647986 4px,*/
			/*#647986 5px);*/
	/*background-size: 100% 31%, 100% 69%, 100% 100%;*/
	/*background-position: 0 0, 0 100%, 0 100%;*/
	/*background-repeat: no-repeat, no-repeat, no-repeat;*/

	background:
	linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56.9%, #5c5c5c 57%, #5c5c5c 60%, #d6d6d6 94%, #7a7a7a 100%) no-repeat scroll 0 0 / 100% 30.04% border-box,
	linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56.9%, #ad0325 57%, #ad0325 60%, #fea5a7 94%, #b33c4e 100%) no-repeat scroll 0 100% / 100% 70% border-box,
	rgba(0, 0, 0, 0) repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px, #647986 4px, #647986 5px) no-repeat scroll 0 100% / 100% 100%;

	top: 0;
	right: 0;
	position: absolute;
}

.temperature > ol {
	margin: 50px 0 0;
	padding: 0;
	position: relative;
	right: 30px;
	width: 30px;
	top: 0;
	counter-reset: counter 0;
}

.temperature > ol:before {
	color: #7d929f;
	content: "°C";
	font-size: 20px;
	position: absolute;
	right: 25px;
	top: -40px;
}

.temperature > ol > li {
	width: 30px;
	border-bottom: 1px solid #647986;
	list-style: none;

	min-height: 29px;
	color: #fff;
	font-size: 11px;
	font-family: monospace, sans-serif;
}

.temperature > ol > li:nth-of-type(2n) {
	width: 15px;
	margin-left: 15px;
}

.temperature > ol > li:nth-of-type(2n - 1):before {
	position: relative;
	counter-increment: counter 10;
	content: counter(counter, decimal);
	color: #647986;
	left: -8px;
	bottom: -14px;
}
