@font-face {
    font-family: 'HeliosCond-Bold';
    src: url('HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),  url('HeliosCond-Bold.woff') format('woff'), url('HeliosCond-Bold.ttf')  format('truetype'), url('HeliosCond-Bold.svg#HeliosCond-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
